<!-- NAVIGATION -->
<nav>
    <div class="nav-bar">
        <div class="brand">
            <h5><a href="#top">lexaid</a></h5>
        </div>
        <div class="menu">
            <div class="about">
                <h5><a href="#about-us" class="index-nav">about</a></h5>
            </div>
            <div class="briefs">
                <h5><a href="#briefs" class="index-nav">briefs</a></h5>
            </div>
            <div class="quotes">
                <h5><a href="#quotes-section" class="index-nav">quotes</a></h5>
            </div>
            <div class="blog">
                <h5><a href="#blog-section" class="index-nav">blog</a></h5>
            </div>
            <div class="contact-us">
                <h5><a href="#contact-us" class="index-nav">contact us</a></h5>
            </div>
            <div class="contact-us">
                <h5><a href="/users/login">Login</a></h5>
            </div>
            <!-- <div class="contact-us">
                <h5><a data-toggle="modal" data-target="#login-modal" href="">Login</a></h5>
            </div> -->
        </div>
        <!-- End of menu -->
    </div>
    <!-- End of nav-bar -->
</nav>
    <!-- End of navigation -->
