
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Nav bar -->
    <%- include('./partials/admin-side-nav') %>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">
       <div class="container-fluid">
          <div class="row mt-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, fuga?
          </div>
       </div>
      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
