
  <!-- Page Wrapper -->
  <div id="wrapper">
        <!-- Nav bar -->
        <%- include('./partials/admin-side-nav') %>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
    
          <div id="content">
           <div class="container-fluid">
              <div class="row mt-5">
                <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Add Brief</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
           </div>
          </div>
          <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
      <!-- End of Page Wrapper -->
    
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>
    