
  <!-- Page Wrapper -->
  <div id="wrapper">
      <!-- Nav bar -->
      <%- include('./partials/admin-side-nav') %>
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
  
        <div id="content">
         <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Add Brief</h5>
                          <form action="">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Add category">
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Sub category">
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Brief title">
                            </div>
                            <div class="form-group">
                              <input type="file" class="form-control-file">
                            </div>
                            <div class="form-group">
                              <button class="btn btn-primary form-control">Upload</button>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Delete Brief</h5>
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Analytics</h5>
                            <div class="row">
                              <div class="col-md-8">
                                  <div class="row">
                                      <table class="table">
                                          <thead>
                                            <tr>
                                              <th scope="col"></th>
                                              <th scope="col">Cases</th>
                                              <th scope="col">Downloads</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td></td>
                                              <td>Boateng v. Dwinfuor</td>
                                              <td>14</td>
                                            </tr>
                                            <tr>
                                              <td></td>
                                              <td>The Republic v. Boafo</td>
                                              <td>84</td>
                                            </tr>
                                            <tr>
                                              <td></td>
                                              <td>Opoku v. Ofusu</td>
                                              <td>100</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Category</th>
                                          <th scope="col">Cases</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>Law of contract</td>
                                          <td>18</td>
                                        </tr>
                                        <tr>
                                          <td>Criminal Law</td>
                                          <td>27</td>
                                        </tr>
                                        <tr>
                                          <td>Land Law</td>
                                          <td>10</td>
                                        </tr>
                                        <tr>
                                          <td>Law of evidence</td>
                                          <td>10</td>
                                        </tr>
                                        <tr>
                                          <td>Civil Procedure</td>
                                          <td>10</td>
                                        </tr>
                                        <tr>
                                          <td>Constitutional Law</td>
                                          <td>10</td>
                                        </tr>
                                      </tbody>
                                  </table>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        </div>
        <!-- End of Main Content -->
      </div>
      <!-- End of Content Wrapper -->
  </div>
    <!-- End of Page Wrapper -->
  
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  